.about__me 
    .about__me-left 
        h2.about__me-education Education
        .about__me-years 
            img(src="../images/typography-cube.webp", alt="")
            .about__me-year 
                span 2007-2011
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        .about__me-years 
            img(src="../images/project-cube.webp", alt="")
            .about__me-year 
                span 2011-2014
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .about__me-years 
            img(src="../images/education-cube.png", alt="")
            .about__me-year 
                span 2011-2014
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        .about__me-years 
            img(src="../images/typography-cube.webp", alt="")
            .about__me-year 
                span HTML
        .about__me-years 
            img(src="../images/project-cube.webp", alt="")
            .about__me-year 
                span CSS
        .about__me-years 
            img(src="../images/education-cube.png", alt="")
            .about__me-year 
                span JAVASCRIPT 
        .about__me-years 
            img(src="../images/gulp-cube.webp", alt="")
            .about__me-year 
                span GULP 
        .about__me-years 
            img(src="../images/gulp-cube.webp", alt="")
            .about__me-year 
                span WORDPRESS 
        h2.about__me-education Skills
    .about__me-image 
        img(src="../images/steward.webp", alt="steward")
    .about__me-right 
        h2.about__me-experience.about__me-education experience
        .about__me-years 
            .about__me-year.experience__year 
                span 2009-2010
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            img(src="../images/typography-cube.webp", alt="") 
        .about__me-years 
            .about__me-year.experience__year 
                span 2010-2012
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            img(src="../images/project-cube.webp", alt="")
        .about__me-years 
            .about__me-year.experience__year 
                span 2015-2020
                p.education__year-about Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            img(src="../images/education-cube.png", alt="")
        .about__me-years.contact__item 
            .about__me-year.contact
                span (205) 555-0100
            img(src="../images/typography-cube.webp", alt="")
        .about__me-years 
            .about__me-year.contact 
                span Matt Steward@gmail.com
            img(src="../images/project-cube.webp", alt="")
        .about__me-years 
            .about__me-year.contact 
                span 2715 Ash Dr. San Jose, South Dakota 83475
            img(src="../images/education-cube.png", alt="")
        h2.about__me-experience.about__me-education Contact
        
