.contact__page
    .contact__page-left 
        h2.contact__left-title Contact me
        p.contact__left-desc I am interested in freelance opportunities-especially ambitious or large projects. However, if you have other request or question, don`t hesilate to contact me using below form either. 
        form(action="").contact__left-form
            input(type="text",placeholder="NAME").input__name 
            input(type="text",placeholder="eMAIL").input__email
            input(type="text",placeholder="sUBJECT").input__subject
            textarea(name="", placeholder="MESSAGER").input__message
        a(href="").contact__page-btn sEND 
    .contact__page-right
        img(src="../images/contact_s.webp", alt="").contact__page-img
        .contact__right-text 
            img(src="../images/typography-cube.webp", alt="")
            h5.text__number (205) 555-0100
        .contact__right-text 
            img(src="../images/project-cube.webp", alt="")
            h5.text__number Matt Steward@gmail.com
        .contact__right-text 
            img(src="../images/education-cube.png", alt="")
            h5.text__number 2715 Ash Dr. San Jose, South Dakota 83475
