.portfolio__work 
    .portfolio__work-image 
        img(src="../images/nike.webp", alt="Nike")
    .portfolio__work-about 
        h2.work__title Nike
        p.work__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim egestas nulla pellentesque pretium. Pellentesque in rhoncus accumsan, suspendisse dolor quis mi, lacinia velit. Arcu enim, purus tempor proin. In congue sagittis suspendisse platea vivamus interdum. Quis tincidunt lobortis scelerisque arcu nibh. Nibh in tristique odio tellus est amet pharetra accumsan felis.
        h3.work__date DATE:
        span 20.01.2021
        h3.work__date CLIENT:
        span Nike
        h3.work__date Skills:
        .work__skills 
            img(src="../images/html-cube.png", alt="")
            h4.skills__type Photoshop
        .work__skills 
            img(src="../images/project-cube.webp", alt="")
            h4.skills__type Photography
        .work__skills 
            img(src="../images/web-cube.webp", alt="")
            h4.skills__type Branding
        a(href="").portfolio__work-link VIEW PROJECT 
