.portfolio__works 
    .portfolio__works-item
        img(src="/images/nike.webp", alt="")
        .portfolio__works-about 
            h3.portfolio__works-title Nike 
            p.portfolio__works-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi libero ut adipiscing tristique pretium aliquam.Morbi libero ut adipiscing tristique pretium aliquam. Morbi libero ut adipiscing tristique pretium aliquam. 
            a.portfolio__works-link(href="portfolio-work.html") LEARN MORE
    .portfolio__works-item
        img(src="/images/openShop.webp", alt="")
        .portfolio__works-about 
            h3.portfolio__works-title Open Shop
            p.portfolio__works-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi libero ut adipiscing tristique pretium aliquam.Morbi libero ut adipiscing tristique pretium aliquam. Morbi libero ut adipiscing tristique pretium aliquam. 
            a.portfolio__works-link LEARN MORE
    .portfolio__works-item
        img(src="/images/mywork-mini.webp", alt="")
        .portfolio__works-about 
            h3.portfolio__works-title My Work
            p.portfolio__works-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi libero ut adipiscing tristique pretium aliquam.Morbi libero ut adipiscing tristique pretium aliquam. Morbi libero ut adipiscing tristique pretium aliquam. 
            a.portfolio__works-link LEARN MORE
    .portfolio__works-search 
        h3.search-title.portfolio__works-title Search
        form.portfolio__works-form(action="") 
            input(type="search" placeholder = "Search Here...")
        .portfolio__works-categories
            h3.categories-title.portfolio__works-title Categories
            .categories__points
                .categories__points-about 
                    img(src="../images/responsive-cube.png", alt="")
                    h5.point__title Desingns
                .categories__points-about 
                    img(src="../images/html-cube.png", alt="")
                    h5.point__title internet
                .categories__points-about 
                    img(src="../images/stuff-cube.png", alt="")
                    h5.point__title Other Stuff
                .categories__points-about 
                    img(src="../images/photography-cube.png", alt="")
                    h5.point__title Photography
                .categories__points-about 
                    img(src="../images/project-cube.png", alt="")
                    h5.point__title Project
                .categories__points-about 
                    img(src="../images/typography-cube.png", alt="")
                    h5.point__title Typography
                .categories__points-about 
                    img(src="../images/web-cube.png", alt="")
                    h5.point__title Web
                .categories__points-about 
                    img(src="../images/web-dev-cube.png", alt="")
                    h5.point__title Web Development    
        .portfolio__works-tags
            h3.tags-title.portfolio__works-title Tags
            .categories__points.catigories__tags
                .tags__content
                    .categories__points-tag 
                        img(src="../images/css.svg", alt="")
                        h5.tag__title CSS
                    .categories__points-tag 
                        img(src="../images/drupal.svg", alt="")
                        h5.tag__title DRUPAL
                    .categories__points-tag 
                        img(src="../images/ghost.svg", alt="")
                        h5.tag__title gHOST
                .tags__content
                    .categories__points-tag  
                        img(src="../images/gulp.svg", alt="")
                        h5.tag__title gULP
                    .categories__points-tag 
                        img(src="../images/joomla.svg", alt="")
                        h5.tag__title JOOMLA
                    .categories__points-tag 
                        img(src="../images/php.svg", alt="")
                        h5.tag__title PHP
                .tags__content
                    .categories__points-tag 
                        img(src="../images/js.svg", alt="")
                        h5.tag__title JAVASCRIPT
                    .categories__points-tag 
                        img(src="../images/wordpress.svg", alt="")
                        h5.tag__title wORDPRESS
    .packman
.star