.header {
    padding: 20px 0 18px 0;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-list {
            display: flex;
        }
        &-link {
            display: inline-block;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.15em;
            color: $whiteColor;
            margin-right: 75px;
            font-family: 'Nunito';
            font-weight: 400;
            &.active {
                color: $blueDark;
            }
        }
    }
    &__btn{
        display: none;
    }
}