body.hidden{
    overflow: hidden;
}
.header {
    padding: 20px 0 18px 0;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-list {
            display: flex;
            
            &.active{
                top: 0;

                & li{
                    margin-left: 50px;
                    margin-top: 30px;

                    &:last-child{
                        margin-bottom: 30px;
                    }
                }
            }
        }
        &-link {
            display: inline-block;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.15em;
            color: $whiteColor;
            margin-right: 75px;
            font-family: 'Nunito';
            font-weight: 400;
            &.active {
                color: $blueDark;
            }
        }
    }
    &__btn{
        display: none;
        height: 20px;
        width: 30px;
        position: relative;

        & span{
            position: absolute;
            width: 100%;
            height: 2px;
            background: $whiteColor;
            top: 9px;

            &.active{
                display: none;
            }
        }
        
        &.active::before{
            transform: rotate(45deg);
            top: 9px;
        }
        &.active:after{
            transform: rotate(-45deg);
            bottom: 9px;
        }

    }
    &__btn::after{
        content: '';
        background: $whiteColor;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        transition: 0.5s;
    }
    &__btn::before{
        content: '';
        background: $whiteColor;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 0;
        transition: 0.5s;
    }
    &__abs{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #1c1d1ed6;
        top: -100%;
        z-index: 1;

        &.active{
            top: 0;
        }
    }

    
}

@media (max-width:920px) {
    .header{
        
        &__nav{


            &-list{
                flex-direction: column;
                position: absolute;
                right: 0;
                line-height: 50px;
                top: -200px;
                transition: 0.5s;
                background: $blackColor;
                z-index: 3;
            }
        }
        &__btn{
            display: block;
            z-index: 4;
        }

        
    }
}