footer.footer 
    .container
        nav.footer__nav 
            a(href="").footer__nav-logo
                img(src="./images/Logo.webp", alt="")
            form.footer__nav-form(action="") 
                input(type="email" placeholder="Email" required).footer__nav-input
                button.footer__nav-btn Contact Us
            ul.footer__nav-list 
                li: a.footer__nav-link(href=""): img(src="./images/instagram.svg", alt="")
                li: a.footer__nav-link(href=""): img(src="./images/telegram.svg", alt="")
                li: a.footer__nav-link(href=""): img(src="./images/facebook.svg", alt="")
        ul.footer__list 
            li  
                a.footer__list-link(href="") HOME
                li  
                a.footer__list-link(href="") PORTFOLIO
                li  
                a.footer__list-link(href="") ABOUT ME
                li  
                a.footer__list-link(href="") CONTACT