header.header
    .container 
        nav.header__nav 
            a.header__nav-logo(href="") 
                img(src="images/logo.webp", alt="")
            ul.header__nav-list 
                li 
                    a(href="index.html" data-page="home").header__nav-link HOME 
                li 
                    a(href="portfolio.html" data-page="portfolio").header__nav-link PORTFOLIO
                li 
                    a(href="about-me.html" data-page="aboutMe").header__nav-link ABOUT ME
                li 
                    a(href="contact.html" data-page="contact").header__nav-link CONTACT
            a(href="").header__btn
                span.bars 
.header__abs                     