.recent 
    .container.recent__wrapper 
        h2.recent__title Some of our recent works
        .recent__grid 
            .recent__left 
                .recent__left-item.active 
                    img.recent__left-img(src="./images/nike.webp", alt="")
                    a.recent__left-link(href="") LEARN MORE
                .recent__left-item 
                    img.recent__left-img(src="./images/my-work.webp", alt="")
                    a.recent__left-link(href="") LEARN MORE
                .recent__left-item 
                    img.recent__left-img(src="./images/openShop.webp", alt="")
                    a.recent__left-link(href="") LEARN MORE
                .recent__left-item 
                    img.recent__left-img(src="./images/street88.png", alt="")
                    a.recent__left-link(href="") LEARN MORE
                .recent__left-item 
                    img.recent__left-img(src="./images/airpods.png", alt="")
                    a.recent__left-link(href="") LEARN MORE
                .recent__left-item 
                    img.recent__left-img(src="./images/vuecinema.png", alt="")
                    a.recent__left-link(href="") LEARN MORE
                .recent__left-item 
                    img.recent__left-img(src="./images/bluemarketing.png", alt="")
                    a.recent__left-link(href="") LEARN MORE
            .recent__right 
                .recent__pers 
                    .recent__pers-rect 
                        .recent__pers-cube.active
                            .recent__pers-item.front 
                                span nike
                            .recent__pers-item.back 
                                span nike
                            .recent__pers-item.right 
                                span nike
                            .recent__pers-item.left 
                                span nike
                            .recent__pers-item.top 
                            .recent__pers-item.bottom 
                .recent__pers 
                    .recent__pers-rect 
                        .recent__pers-cube
                            .recent__pers-item.front 
                                span My-work
                            .recent__pers-item.back 
                                span My-work
                            .recent__pers-item.right 
                                span My-work
                            .recent__pers-item.left 
                                span My-work
                            .recent__pers-item.top 
                            .recent__pers-item.bottom 
                .recent__pers 
                    .recent__pers-rect 
                        .recent__pers-cube
                            .recent__pers-item.front 
                                span Open Shop
                            .recent__pers-item.back 
                                span Open Shop
                            .recent__pers-item.right 
                                span Open Shop
                            .recent__pers-item.left 
                                span Open Shop
                            .recent__pers-item.top 
                            .recent__pers-item.bottom 
                .recent__pers 
                    .recent__pers-rect 
                        .recent__pers-cube
                            .recent__pers-item.front 
                                span Street88
                            .recent__pers-item.back 
                                span Street88
                            .recent__pers-item.right 
                                span Street88
                            .recent__pers-item.left 
                                span Street88
                            .recent__pers-item.top 
                            .recent__pers-item.bottom 
                .recent__pers 
                    .recent__pers-rect 
                        .recent__pers-cube
                            .recent__pers-item.front 
                                span Airpods
                            .recent__pers-item.back 
                                span Airpods
                            .recent__pers-item.right 
                                span Airpods
                            .recent__pers-item.left 
                                span Airpods
                            .recent__pers-item.top 
                            .recent__pers-item.bottom
                .recent__pers 
                    .recent__pers-rect 
                        .recent__pers-cube
                            .recent__pers-item.front 
                                span Vuecinema
                            .recent__pers-item.back 
                                span Vuecinema
                            .recent__pers-item.right 
                                span Vuecinema
                            .recent__pers-item.left 
                                span Vuecinema
                            .recent__pers-item.top 
                            .recent__pers-item.bottom 
                .recent__pers 
                    .recent__pers-rect 
                        .recent__pers-cube
                            .recent__pers-item.front 
                                span Bluemarketing
                            .recent__pers-item.back 
                                span Bluemarketing
                            .recent__pers-item.right 
                                span Bluemarketing
                            .recent__pers-item.left 
                                span Bluemarketing
                            .recent__pers-item.top 
                            .recent__pers-item.bottom 
                           
                .recent__pers 
                    .recent__pers-rect 
                        .recent__pers-cube.last
                            .recent__pers-item.bottom 
                                        
                .recent__next 
                    span next 
                    img(src="images/arrow__down.svg", alt="alt") 
                              