.skills__top 
    .container 
        .skills__top-items  
            img.skills__top-img(src="./images/about-work.webp", alt="")
            .skills__top-content 
                .skills__top-item 
                    .skills__top-about 
                        img(src="./images/clean_modern-cube.webp", alt="")
                        h3.skills__top-title  Clean & Modern
                    p.skills__top-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie nullam etiam est mauris elit sit consectetur. Ac vitae interdum lorem ac enim elementum pretium. Tortor eu dignissim dapibus lacinia ut nulla tristique. Risus cras arcu tellus mi massa mi id eu adipiscing.
                .skills__top-item 
                    .skills__top-about 
                        img(src="./images/responsive-cube.webp", alt="")
                        h3.skills__top-title  Responsive
                    p.skills__top-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie nullam etiam est mauris elit sit consectetur. nu Ac vitae interdum lorem ac enim elementum pretium. Tortor eu dignissim dapibus lacinia ut nulla tristique. Risus cras arcu tellus mi massa mi id eu adipiscing.
                .skills__top-item 
                    .skills__top-about 
                        img(src="./images/html-cube.png", alt="")
                        h3.skills__top-title  HTML5 + CSS3
                    p.skills__top-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie nullam etiam est mauris elit sit consectetur. Ac vitae interdum lorem ac enim elementum pretium. Tortor eu dignissim dapibus lacinia ut nulla tristique. Risus cras arcu tellus mi massa mi id eu adipiscing.
                .skills__top-item 
                    .skills__top-about 
                        img(src="./images/free-cube.png", alt="")
                        h3.skills__top-title  Free of Charge
                    p.skills__top-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie nullam etiam est mauris elit sit consectetur. Ac vitae interdum lorem ac enim elementum pretium. Tortor eu dignissim dapibus lacinia ut nulla tristique. Risus cras arcu tellus mi massa mi id eu adipiscing.