.slider     
    .slider__items 
        .slider__slide 
            h2.slider__slide-title make your product happen
            a(href="").slider__slide-link LET`S GET STARTED
        .slider__slide.second-slide 
            .slider__slide-left
                h2.slider__slide-title I help people and companies shine online
                a(href="").slider__slide-link.contact-link CONTACT ME
            img.slider__slide-pixel(src="./images/pixel.webp", alt="")
        .slider__slide.third-slide 
            .slider__slide-left
                h2.slider__slide-title hi,i`m matt,web developer
                a(href="").slider__slide-link.contact-link CONTACT ME         
            img.slider__slide-pixel(src="./images/Matt.webp", alt="")
    button.slider__prev 
        img(src="images/arrow-left.svg" alt="")
    button.slider__next
        img(src="images/arrow-right.svg" alt="")